.dashboard {
  padding: 20px;
}

/* Summary Cards */
.summary-cards{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
  margin-bottom:30px;
}

.finance-card{
  flex:1;
  min-width:240px;
  padding:22px;
  border-radius:14px;
  color:var(--text-color);
  position:relative;
  overflow:hidden;
  transition:all .3s ease;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}



.card-top{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:15px;
  opacity:0.9;
}

.card-icon{
  font-size:20px;
}

.finance-card h2{
  font-size:30px;
  margin:10px 0;
  font-weight:600;

}

.card-desc{
  font-size:13px;
  opacity:0.8;
 
}

/* Card Colors */
.balance-card{
  background: linear-gradient(135deg, #8000ff71, #00c8ff63);
}

.income-card{
  background: linear-gradient(135deg, #00b09b8f, #96c93dcb);
}

.expense-card{
  background: linear-gradient(135deg, #ff7f5f46, #f1a76e);
}
/* Charts */

/* .charts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
} */

.chart-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* width: 35vw; */
  
}
.graph-title{
    font-size:18px;
    font-weight:600;
    text-align: left;
    color: var(--secondary-text-color); 
    align-self: flex-start;
}